.filters {
  margin-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.linegraph .trope {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1.5px;
}
.linegraph .trope.selected {
  stroke: black;
  z-index: 9000;
}

.areagraph .layer.selected {
  fill-opacity: 0.5;
  stroke: #333;
  stroke-width: 1px;
}
/*.viz {
  float:left;
  display: inline-block;
  position: fixed;
}*/

.y.axis .tick line {
  fill: none;
  stroke: #ddd;
}

.y.axis .label {
  text-anchor: end;
}
.tropelist {
  height: 500px;
  overflow-y: scroll;
}
ul.list {
  float:left;
  display: inline-block;
  padding-left: 0px;
  list-style-type: none;
}
ul.list li {
  cursor: pointer;
  background-color: #eaeaea;
  margin-bottom: 3px;
  padding: 2px;
  padding-left: 10px;
}
ul li:hover {
  color: red;
}