.container {
  margin-left: 20px;
  margin-right: 20px;
}
.filterSelector h3 {
  display: inline-block;
  float:left;
  width: 3.84%;
  text-align: center;
  padding-bottom: 5px;
}
.filterSelector h3.selected {
  color: white;
  background-color: #eaeaea;
}

.tropelist {
}

.list {
  display: inline-flex;
}

.list .lettergroup {
  display : flex;
}

.list .lettergroup h2.keyletter {
  padding: 10px;
  margin-right: 10px;
  background-color: #eee;
}

.list .lettergroup .trope {
  margin-top: 20px;
  display : inline-block;
  float: left;
  width: 300px;
}

.list .lettergroup .trope ul {
  list-style-type: none;
  padding: 0;

}

.list .lettergroup .trope li {
  font-size: 1.4em;
}